nav {
    position:sticky;
    top:0;
    background-color:#363a4cde;
    z-index:10;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height:70px;

        @media screen and (max-width:map-get($sizes, "md")) {
            height:100%;
        }
    }

    li {
        display: flex;
        align-items: center;
        height: 100%;

        &:hover {
            background-color: map-get($colors, "secondary-darker");
        }

        @media screen and (max-width:map-get($sizes, "md")) {
            height:50px;
        }
    }

    a {
        text-decoration: none;
        padding: 0 20px;
        color:map-get($colors, "white");
        font-size:18px;
        font-weight: 600;

        @media screen and (max-width:map-get($sizes, "md")) {
            color:map-get($colors, "secondary");
        }
    }
    
    @media screen and (max-width:map-get($sizes, "md")) {
        height:auto;
        text-align: center;
        position:fixed;
        height:100%;
        z-index:500;
        width: 100%!important;
        top:0;
        display:none;

        ul {
            display:block!important;
        }

        li {
            width:100%;
            justify-content: center;
        }

        a {
            color:white;
        }
    }
}

.selected-menu {
    background-color: map-get($colors, "secondary-darker");

    a {
        color:white;
    }
}

header {
    height: 600px;
    background-image: url("../images/epic_adventure_music.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;

    @media screen and (max-width:map-get($sizes, "lg")) {
        height: 300px;
    }
}

.title-holder {
    height: 100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
}

.title-holder h1 {
    color:map-get($colors, "white");
    text-shadow: 1px 1px 5px map-get($colors, "dark-grey");
    font-size: 70px;
     -webkit-text-stroke: 0.04em map-get($colors, "primary");
    paint-order: stroke fill;

    @media screen and (max-width:map-get($sizes, "lg")) {
        font-size: 50px;
    }

    @media screen and (max-width:map-get($sizes, "md")) {
        font-size: 30px;
    }
}

.title-holder h2 {
    color:map-get($colors, "secondary");
    text-shadow: 1px 1px 5px map-get($colors, "dark-grey");
    font-size: 50px;
     -webkit-text-stroke: 0.04em map-get($colors, "primary");
    paint-order: stroke fill;

    @media screen and (max-width:map-get($sizes, "lg")) {
        font-size: 35px;
    }

    @media screen and (max-width:map-get($sizes, "md")) {
        font-size: 20px;
    }
}